BSC_RPC_URL=
BSC_TESTNET_RPC_URL=
DEPLOYER_KEY=
PANCAKE_ROUTER=
GUARDIAN_MULTISIG=
DEVELOPMENT_MULTISIG=
MARKETING_MULTISIG=
SERVER_MULTISIG=
LIQUIDITY_FUNDING_MULTISIG=
TOURNAMENT_FUNDING_MULTISIG=
DAO_FUNDING_MULTISIG=
PRICE_ORACLE=
LP_ORACLE=
GAME_ORACLE_0=
GAME_ORACLE_1=
GAME_ORACLE_2=
COMPLIANCE_ORACLE=
LAYERZERO_ENDPOINT=
NFT_BASE_URI=
PREMIUM_FEE_WEI=
STANDARD_FEE_WEI=
